.address {
  display: flex;
  flex-direction: column;

  @media (min-width: 50rem) {
    text-align: right;
  }
}

.right {
  text-align: right;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}
