.button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: center;

  padding: 1rem 1.5rem;
  border-radius: 2rem;
  border: 0;
  cursor: pointer;
  color: var(--clr-neutral-100);
}

.button:hover {
  opacity: 0.8;
}

.btnSecondary {
  background-color: var(--clr-secondary);
}

.btnNeutral {
  background-color: var(--clr-tertiary);
}

.btnRed {
  background-color: var(--clr-accent-3);
}

.btnBlue {
  background-color: var(--clr-accent-1);
}

.btnIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  margin-left: -1rem;
  margin-top: -1rem;
  margin-bottom: -1rem;

  background-color: var(--clr-neutral-100);
  color: var(--clr-accent-1);
  font-weight: 900;
  border-radius: 50%;
}
