.invoice {
  display: block;
  border: 1px solid transparent;
  transition: transform 0.3s;
  border-radius: 5px;
}

.invoice:hover {
  border: 1px solid var(--clr-accent-1);
  transform: scale(1.02);
  cursor: pointer;
}

.id::before {
  content: "#";
  color: var(--clr-accent-1);
}
