.itemList {
  display: grid;
  grid-template-columns: 4fr 1fr 2fr 1fr 1fr;
  gap: 1rem;
}

.delete {
  fill: var(--clr-neutral-300);
}

.total,
.delete {
  align-self: center;
}

.itemList > button {
  grid-column: 1 / -1;
}
