.select {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.select select {
  padding: 1rem;
  background-color: var(--clr-secondary);
  border: 0;
  border-radius: 5px;
  color: var(--clr-neutral-100);
}

.select option {
  padding: 0.5rem;
}

.error {
  color: rgb(189, 48, 48);
}
