.sidebar {
  display: flex;
  align-items: center;
  gap: 1rem;
  position: sticky;
  top: 0;

  z-index: 100;

  background-color: var(--clr-secondary);
}

.sidebar > *:first-child {
  margin-right: auto;
}

@media (min-width: 50em) {
  .sidebar {
    flex-direction: column;
    height: 100vh;
    width: min-content;
  }

  .sidebar > *:first-child {
    margin-bottom: auto;
  }
}

@media (max-width: 50em) {
  .sidebar {
    max-height: min-content;
    box-shadow: 1px 1px 10px 2px var(--clr-primary);
  }
}
