.inputWrap {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.inputWrap input {
  background-color: var(--clr-secondary);
  padding: 1rem;
  color: var(--clr-neutral);
  border: 0;
  border-radius: 5px;
  width: 100%;
}

.inputWrap input::-webkit-outer-spin-button,
.inputWrap input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.inputWrap input[type="number"] {
  -moz-appearance: textfield;
}
