@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee+Tint&family=Great+Vibes&display=swap");
body {
  --clr-primary: hsl(233, 30%, 11%);
  --clr-secondary: hsl(236, 30%, 17%);
  --clr-tertiary: hsl(231, 11%, 25%);
  --clr-neutral-100: hsl(60, 69%, 97%);
  --clr-neutral-300: hsl(237, 14%, 74%);
  --clr-primary-modal-bg: hsla(233, 29%, 5%, 0.5);

  --clr-accent-1: hsl(252, 99%, 68%);
  --clr-accent-2: hsl(237, 14%, 74%);
  --clr-accent-3: hsl(33, 80%, 52%);
  --clr-accent-4: hsl(235, 100%, 95%);

  --clr-accent-1-faded: hsla(252, 99%, 68%, 0.1);
  --clr-accent-2-faded: hsl(237, 14%, 74%, 0.1);
  --clr-accent-3-faded: hsl(33, 80%, 52%, 0.1);
  --clr-accent-4-faded: hsl(235, 100%, 95%, 0.1);

  --ff-primary: "Roboto", sans-serif;
  --ff-logo: "Great Vibes", cursive;

  --fs-200: 0.775rem;
  --fs-300: 0.8125rem;
  --fs-400: 0.8725rem;
  --fs-500: 1rem;
  --fs-600: 1.125rem;
  --fs-700: 1.75rem;
  --fs-800: 2rem;
  --fs-900: 2.5rem;

  --fs-body: var(--fs-400);
  --fs-primary-heading: var(--fs-800);
  --fs-featured: var(--fs-600);
  --fw-regular: 400;
  --fw-semi-bold: 500;
  --fw-bold: 700;

  --border-radius-regular: 0.615rem;
  --border-radius-big: 1rem;

  --logo-width: 70px;
}

body.dark {
  --clr-neutral-100: hsl(233, 30%, 11%);
  --clr-neutral-300: hsl(236, 30%, 17%);
  --clr-primary: hsl(60, 69%, 97%);
  /* --clr-secondary: hsl(237, 14%, 74%); */
  --clr-primary-modal-bg: hsla(60, 73%, 97%, 0.467);
}

@media (min-width: 50em) {
  body {
    --fs-200: 0.8125rem;
    --fs-300: 0.8725rem;
    --fs-400: 1rem;
    --fs-500: 1.2rem;
    --fs-600: 1.35rem;
    --fs-700: 2rem;
    --fs-800: 2.5rem;
    --fs-900: 3rem;

    --logo-width: 80px;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  font-family: var(--ff-primary);
  color: var(--clr-neutral-100);
  background-color: var(--clr-primary);
}

.container {
  max-width: 700px;
  margin: 0 auto;

  @media (min-width: 50rem) {
    width: 80%;
  }
}

/* Utility classes */

.text-primary-400 {
  color: var(--clr-primary-400);
}
.text-accent-1 {
  color: var(--clr-accent-1);
}
.text-accent-2 {
  color: var(--clr-accent-2);
}
.text-accent-3 {
  color: var(--clr-accent-3);
}
.text-accent-4 {
  color: var(--clr-accent-4);
}
.text-neutral-100 {
  color: var(--clr-neutral-100);
}
.text-neutral-300 {
  color: var(--clr-neutral-300);
}

.bg-primary {
  background-color: var(--clr-primary);
}
.bg-secondary {
  background-color: var(--clr-secondary);
}
.bg-accent-1 {
  background-color: var(--clr-accent-1);
}
.bg-neutral-300 {
  background-color: var(--clr-neutral-300);
}
.bg-neutral-100 {
  background-color: var(--clr-neutral-100);
}

.bg-paid {
  background-color: var(--clr-accent-4-faded);
}
.bg-pending {
  background-color: var(--clr-accent-2-faded);
}
.bg-draft {
  background-color: var(--clr-accent-3-faded);
}

.fw-bold {
  font-weight: var(--fw-bold);
}
.fw-semi-bold {
  font-weight: var(--fw-semi-bold);
}
.fw-regular {
  font-weight: var(--fw-regular);
}

.fs-primary-heading {
  font-size: var(--fs-primary-heading);
  line-height: 1.1;
}

.fs-featured {
  font-size: var(--fs-featured);
}

.fs-small-text {
  font-size: var(--fs-200);
}

.fw-bold {
  font-weight: var(--fw-bold);
}
.fw-semi-bold {
  font-weight: var(--fw-semi-bold);
}
.fw-regular {
  font-weight: var(--fw-regular);
}
